<h3>(Reactive) Model-driven form</h3>

<form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label for="inputUsername">Username</label>
  <input type="username" id="inputUsername"
         class="form-control"
         [ngClass]="username.invalid && username.dirty ? 'is-invalid' : ''"
         aria-describedby="passwordHelpBlock"
         formControlName="username"
  >
  <small id="usernameHelp" class="form-text text-muted"
  *ngIf="username.invalid && username.dirty"
  >
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
  </small>


  <label for="inputPassword5">Password</label>
  <input type="password" id="inputPassword5"
         class="form-control" aria-describedby="passwordHelpBlock"
         formControlName="password"
         [ngClass]="password.invalid && password.dirty ? 'is-invalid' : ''"
  >
  <small id="passwordHelpBlock" class="form-text text-muted"
         *ngIf="password.invalid && password.dirty">
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
  </small>

  <button class="btn btn-primary" type="submit"
          [disabled]="loginForm.invalid"
  >Login</button>

</form>
